.hero-title {
    font-size: 5vh;
    line-height: 66px;
    word-break: keep-all;
}

.hero-welcome {
    text-transform: uppercase;
    font-size: 5vh;
}

.hero-h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.hero-span {
    color: $main_color;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-img {
    width: 35%;
    transition: 0.3s;

    img {
        border-radius: 50%;
        border: 2px $main_color solid;
        padding: 10px;
        transition: 0.3s ease-in-out;

        &:hover {
            border: 10px $main_color solid;
            padding: 0px;
            transition: 0.3s ease-in-out;
        }
    }
}
.hero-socials {
    width: 50%;
}
.socialsBG {
    padding: 0.375rem 0.75rem !important;
    background-color: #ff0f5d;
    border-radius: 5px;
    margin: 0;
    margin-right: 0.5rem !important;
    &:last-child {
        margin-right: 0 !important;
    }
}
.jumbotron {
    margin-bottom: 0 !important;
}
.about-hero-title {
    font-size: 5vh;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
