@import './variables';
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $bg_color !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: $white;
}

a {
    color: $white;
    text-decoration: none !important;
}


::selection {
    background: $main_color;
    color: $white;
}


button:focus {
    outline: none !important;
}


